@font-face {
  font-family: genesys;
  src: url("../../../public/font/Genesys.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: icielgotham;
  src: url("../../../public/font/iCielGotham.ttf");
  font-weight: normal;
  font-style: normal;
}
