* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #efefef; }

table,
th,
td {
  border-collapse: collapse; }

fieldset {
  border: none; }

.h {
  position: absolute;
  top: -999999px;
  opacity: 0; }

@font-face {
  font-family: genesys;
  src: url("../../../public/font/Genesys.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: icielgotham;
  src: url("../../../public/font/iCielGotham.ttf");
  font-weight: normal;
  font-style: normal; }
header {
  width: 1460px;
  transition: top 0.6s, opacity 0.4s;
  position: absolute;
  left: 50%;
  top: -82px;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 9;
  display: flex;
  justify-content: center; }
  header.on {
    top: 0;
    opacity: 1; }
  header .inner {
    width: 100%;
    height: 80px;
    position: relative;
    border-bottom: 1px solid rgba(199, 199, 199, 0.307);
    display: flex;
    align-items: center; }
    header .inner .logo {
      padding-top: 20px; }
    header .inner h1 a {
      font: bold 24px/1 "arial";
      color: #fff; }
    header .inner h1 img {
      height: 30px; }
    header .inner #gnb {
      display: flex;
      position: absolute;
      bottom: 0px;
      right: 0px; }
      header .inner #gnb li a {
        display: inline-block;
        padding: 20px 30px;
        font: bold 16px/1 "icielgotham";
        color: #fff;
        transition: all 0.6s;
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
        header .inner #gnb li a:hover {
          color: red; }
    header .inner .fa-bars {
      font-size: 24px;
      position: absolute;
      bottom: 20px;
      right: 40px;
      display: none; }
  header.sub {
    border-bottom: 1px solid #999;
    background: #fff; }
    header.sub .inner h1 a {
      color: #222; }
    header.sub .inner #gnb li a {
      color: #333; }
    header.sub .inner .fa-bars {
      color: #333; }
  header.main {
    background: transparent;
    width: 1580px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #ccc;
    z-index: 99; }
    header.main .inner h1 a {
      color: #fff; }
    header.main .inner #gnb li a {
      color: #fff; }
    header.main .inner .fa-bars {
      color: #fff; }

@media screen and (max-width: 1179px) {
  header {
    width: 100%; }
    header .inner {
      width: 100%; }
      header .inner h1 {
        bottom: 20px;
        left: 40px; }
      header .inner #gnb {
        display: none; }
      header .inner .fa-bars {
        display: block; } }
footer {
  width: 100%;
  height: 480px;
  background: #111;
  padding: 100px 0px; }
  footer .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
    display: flex;
    justify-content: space-between; }
    footer .inner ul li {
      font: 14px/1 "icielgotham";
      margin-bottom: 10px;
      color: #767676; }
      footer .inner ul li:nth-of-type(1) {
        color: #fff; }

@media screen and (max-width: 1179px) {
  footer .inner {
    width: 100%;
    padding: 0px 40px; } }
.content figure {
  width: 100%;
  height: 300px;
  background: #bbb;
  opacity: 0;
  transition: 1s;
  overflow: hidden; }
  .content figure img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.content > .inner {
  width: 1180px;
  min-height: 400px;
  margin: 100px auto 150px;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s; }
  .content > .inner h1 {
    font: normal 60px/1 'work sans';
    color: #111;
    margin-bottom: 70px; }
    .content > .inner h1::after {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background: #555;
      margin-top: 20px; }
.content.on figure {
  opacity: 1; }
.content.on > .inner {
  opacity: 1;
  transform: translateY(0px); }

@media screen and (max-width: 1179px) {
  .content figure {
    height: 200px; }
  .content .inner {
    width: 100%;
    margin: 80px auto 120px;
    padding: 0px 40px; } }
.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5; }
  .pop .con {
    width: 100%;
    height: 100%; }
    .pop .con iframe {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .pop .con img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .pop .close {
    font: bold 14px/1 'arial';
    color: orange;
    position: absolute;
    top: 40px;
    right: 5vw;
    cursor: pointer; }

#mobileMenu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #111;
  padding: 50px;
  z-index: 10; }
  #mobileMenu h1 {
    width: 100%; }
    #mobileMenu h1 img {
      width: 100%;
      margin-bottom: 50px; }
  #mobileMenu ul li a {
    display: block;
    height: 50px;
    font: 16px/50px 'arial';
    color: #bbb; }

#visual {
  width: 100%;
  height: 100vh;
  background: #555;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #visual .sns_icons {
    width: 50px;
    height: 160px;
    position: absolute;
    left: 194px;
    top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1; }
    #visual .sns_icons > svg {
      font-size: 26px;
      color: rgba(156, 156, 156, 0.581);
      cursor: pointer;
      transition: all 0.4s; }
      #visual .sns_icons > svg:hover {
        color: #fff; }
  #visual .title {
    width: 1460px;
    position: absolute;
    left: 50%;
    top: 140px;
    transform: translateX(-50%);
    z-index: 3; }
    #visual .title ul:nth-of-type(1) {
      color: #d70d25; }
    #visual .title ul:nth-of-type(2) {
      color: #fff;
      margin-bottom: 4px; }
      #visual .title ul:nth-of-type(2) li:nth-of-type(5) {
        margin-right: 34px; }
    #visual .title.on ul > li {
      transform: translateX(0) rotate(0);
      opacity: 1;
      filter: blur(0); }
    #visual .title.on .text_wrap > p, #visual .title.on .btn {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0%); }
    #visual .title ul {
      display: flex;
      position: relative;
      overflow: hidden; }
      #visual .title ul li {
        font: 90px/1 "genesys";
        transition: all 0.8s;
        transform: translateX(-70%);
        filter: blur(10px);
        opacity: 0;
        text-shadow: 0 10px 20px rgba(0, 4, 81, 0.5); }
        #visual .title ul li:nth-of-type(1) {
          transition-delay: 0.1s; }
        #visual .title ul li:nth-of-type(2) {
          transition-delay: 0.2s; }
        #visual .title ul li:nth-of-type(3) {
          transition-delay: 0.3s; }
        #visual .title ul li:nth-of-type(4) {
          transition-delay: 0.4s; }
        #visual .title ul li:nth-of-type(5) {
          transition-delay: 0.5s; }
        #visual .title ul li:nth-of-type(6) {
          transition-delay: 0.6s; }
        #visual .title ul li:nth-of-type(7) {
          transition-delay: 0.7s; }
        #visual .title ul li:nth-of-type(8) {
          transition-delay: 0.8s; }
        #visual .title ul li:nth-of-type(9) {
          transition-delay: 0.9s; }
        #visual .title ul li:nth-of-type(10) {
          transition-delay: 1s; }
        #visual .title ul li:nth-of-type(11) {
          transition-delay: 1.1s; }
        #visual .title ul li:nth-of-type(12) {
          transition-delay: 1.2s; }
        #visual .title ul li:nth-of-type(13) {
          transition-delay: 1.3s; }
        #visual .title ul li:nth-of-type(14) {
          transition-delay: 1.4s; }
        #visual .title ul li:nth-of-type(15) {
          transition-delay: 1.5s; }
        #visual .title ul li:nth-of-type(16) {
          transition-delay: 1.6s; }
        #visual .title ul li:nth-of-type(17) {
          transition-delay: 1.7s; }
        #visual .title ul li:nth-of-type(18) {
          transition-delay: 1.8s; }
        #visual .title ul li:nth-of-type(19) {
          transition-delay: 1.9s; }
    #visual .title .text_wrap {
      overflow: hidden; }
      #visual .title .text_wrap p {
        font: 16px/1 "arial";
        color: #c7c7c7;
        margin-bottom: 30px;
        transition: all 1.2s;
        opacity: 0;
        filter: blur(100px);
        transform: translateX(-20%);
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
    #visual .title .btn {
      font: 18px/50px "arial";
      color: #fff;
      border: 1px solid red;
      text-align: center;
      position: relative;
      display: block;
      width: 200px;
      height: 54px;
      overflow: hidden;
      letter-spacing: 4px;
      transition: all 1.2s;
      opacity: 0;
      filter: blur(50px);
      transform: translateX(-20%);
      text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
      #visual .title .btn:hover {
        background: red;
        box-shadow: 0 0 20px red;
        transition-delay: 1s; }
      #visual .title .btn:hover > span:nth-of-type(1) {
        left: 100%;
        transition: 1s; }
      #visual .title .btn:hover > span:nth-of-type(2) {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s; }
      #visual .title .btn:hover > span:nth-of-type(3) {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s; }
      #visual .title .btn:hover > span:nth-of-type(4) {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s; }
      #visual .title .btn > span {
        position: absolute;
        display: block;
        z-index: 3; }
        #visual .title .btn > span:nth-of-type(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 4px;
          background: linear-gradient(90deg, transparent, red); }
        #visual .title .btn > span:nth-of-type(2) {
          top: -100%;
          right: 0;
          width: 4px;
          height: 100%;
          background: linear-gradient(180deg, transparent, red); }
        #visual .title .btn > span:nth-of-type(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 4px;
          background: linear-gradient(270deg, transparent, red); }
        #visual .title .btn > span:nth-of-type(4) {
          bottom: -100%;
          left: 0;
          width: 4px;
          height: 100%;
          background: linear-gradient(360deg, transparent, red); }
  #visual .number_wrap {
    width: 480px;
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 10; }
    #visual .number_wrap li {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      align-items: flex-end;
      width: 170px;
      font: 16px/1 "icielgotham";
      color: rgba(255, 255, 255, 0.597); }
      #visual .number_wrap li h2 {
        font-size: 62px;
        color: #fff;
        line-height: 0.7;
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
      #visual .number_wrap li p {
        padding-top: 10px;
        font: 16px/1 "icel gotham"; }
  #visual .btn_wrap > div {
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    z-index: 99;
    cursor: pointer; }
  #visual .btn_wrap .prev {
    left: 20%;
    top: 50%; }
  #visual .btn_wrap .next {
    right: 20%;
    top: 50%; }
  #visual .slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative; }
    #visual .slider > li {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transform: scale(1);
      filter: saturate(0.2);
      transition: opacity 0.8s, transform 1s, filter 0.6s; }
      #visual .slider > li > img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      #visual .slider > li.on {
        opacity: 1;
        transform: scale(1.1);
        filter: saturate(1); }

#Carslide.myScroll {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #fff;
  user-select: none; }
  #Carslide.myScroll.on .ModelsTitle > li {
    opacity: 1;
    transform: translateX(0); }
  #Carslide.myScroll .line {
    width: 100%;
    height: 40px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center; }
  #Carslide.myScroll ul.ModelsTitle {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden; }
    #Carslide.myScroll ul.ModelsTitle > li {
      font: 68px/1 "genesys";
      color: #222;
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.6s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(1) {
        color: #d70d25; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(2) {
        color: #d70d25; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(3) {
        color: #d70d25; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(4) {
        color: #d70d25; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(5) {
        color: #d70d25; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(6) {
        color: #d70d25; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(7) {
        color: #d70d25; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(1) {
        transition-delay: 0.1s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(2) {
        transition-delay: 0.2s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(3) {
        transition-delay: 0.3s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(4) {
        transition-delay: 0.4s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(5) {
        transition-delay: 0.5s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(6) {
        transition-delay: 0.6s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(7) {
        transition-delay: 0.7s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(8) {
        transition-delay: 0.8s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(9) {
        transition-delay: 0.9s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(10) {
        transition-delay: 1s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(11) {
        transition-delay: 1.1s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(12) {
        transition-delay: 1.2s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(13) {
        transition-delay: 1.3s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(14) {
        transition-delay: 1.4s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(15) {
        transition-delay: 1.5s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(16) {
        transition-delay: 1.6s; }
      #Carslide.myScroll ul.ModelsTitle > li:nth-of-type(17) {
        transition-delay: 1.7s; }
    #Carslide.myScroll ul.ModelsTitle li:nth-of-type(7) {
      margin-right: 20px; }
    #Carslide.myScroll ul.ModelsTitle li:nth-of-type(11) {
      margin-right: 20px; }
  #Carslide.myScroll .subTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 60px; }
    #Carslide.myScroll .subTitle li {
      color: #777; }
      #Carslide.myScroll .subTitle li:not(:last-child) {
        margin-right: 20px; }
  #Carslide.myScroll .slider_wrap {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    position: relative; }
    #Carslide.myScroll .slider_wrap > li {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      transition: opacity 1s, transform 1s; }
      #Carslide.myScroll .slider_wrap > li:nth-of-type(1) {
        transform: translateX(-90%) scale(0.9);
        opacity: 0;
        z-index: 1; }
      #Carslide.myScroll .slider_wrap > li:nth-of-type(2) {
        transform: translateX(-70%) scale(0.9);
        opacity: 0.7;
        z-index: 2; }
      #Carslide.myScroll .slider_wrap > li:nth-of-type(3) {
        transform: translateX(0) scale(1.5);
        opacity: 1;
        z-index: 3; }
      #Carslide.myScroll .slider_wrap > li:nth-of-type(4) {
        transform: translateX(70%) scale(0.9);
        opacity: 0.7;
        z-index: 2; }
      #Carslide.myScroll .slider_wrap > li:nth-of-type(5) {
        transform: translateX(-90%) scale(0.9);
        opacity: 0;
        z-index: 1; }
  #Carslide.myScroll .subtitles {
    width: 900px;
    display: flex;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    margin-bottom: 100px; }
    #Carslide.myScroll .subtitles .subtitle_wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: all 0.4s 0.1s; }
      #Carslide.myScroll .subtitles .subtitle_wrap.on {
        opacity: 1; }
      #Carslide.myScroll .subtitles .subtitle_wrap > h2 {
        width: 500px;
        font: 38px/1 "arial";
        margin-bottom: 20px; }
        #Carslide.myScroll .subtitles .subtitle_wrap > h2 > span {
          font: 22px/1 "iciel gotham";
          color: #767676; }
  #Carslide.myScroll .slideBtn {
    width: 800px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    z-index: 10; }
    #Carslide.myScroll .slideBtn .prev {
      display: block;
      width: 50px;
      height: 50px;
      position: relative;
      user-select: none;
      cursor: pointer; }
      #Carslide.myScroll .slideBtn .prev > strong {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(100%, -50%);
        transition: all 0.4s;
        opacity: 0;
        pointer-events: none; }
      #Carslide.myScroll .slideBtn .prev::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #666;
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(-35deg);
        transform-origin: left center;
        transition: all 0.4s; }
      #Carslide.myScroll .slideBtn .prev::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #666;
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(35deg);
        transform-origin: left center;
        transition: all 0.4s; }
      #Carslide.myScroll .slideBtn .prev:hover::before {
        top: 0;
        transform: rotate(180deg);
        transform-origin: center center; }
      #Carslide.myScroll .slideBtn .prev:hover::after {
        top: 100%;
        transform: rotate(-180deg);
        transform-origin: center center; }
      #Carslide.myScroll .slideBtn .prev:hover strong {
        transform: translate(-50%, -50%);
        opacity: 1; }
    #Carslide.myScroll .slideBtn .next {
      width: 50px;
      height: 50px;
      display: block;
      position: relative;
      cursor: pointer;
      user-select: none; }
      #Carslide.myScroll .slideBtn .next::before {
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background: #666;
        position: absolute;
        top: 50%;
        right: 0;
        transform: rotate(35deg);
        transform-origin: right center;
        transition: all 0.5s; }
      #Carslide.myScroll .slideBtn .next::after {
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background: #666;
        position: absolute;
        top: 50%;
        right: 0;
        transform: rotate(-30deg);
        transform-origin: right center;
        transition: all 0.5s; }
      #Carslide.myScroll .slideBtn .next > strong {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-100%, -50%);
        transition: all 0.4s;
        opacity: 0;
        pointer-events: none; }
      #Carslide.myScroll .slideBtn .next:hover::before {
        top: 0;
        transform: rotate(180deg);
        transform-origin: center center; }
      #Carslide.myScroll .slideBtn .next:hover::after {
        top: 100%;
        transform: rotate(-180deg);
        transform-origin: center center; }
      #Carslide.myScroll .slideBtn .next:hover strong {
        transform: translate(50%, -50%);
        opacity: 1; }
  #Carslide.myScroll .viewbtn {
    width: 260px;
    height: 60px;
    text-transform: uppercase;
    border: 2px solid #970012b7;
    position: relative;
    margin: 0 auto;
    color: #d70d25;
    text-align: center;
    font: 22px/60px "arial";
    cursor: pointer;
    z-index: 10;
    transition: all 0.5s;
    letter-spacing: 0.1em; }
    #Carslide.myScroll .viewbtn:hover {
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); }

#Banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 400px;
  background: url("../../../public/img/section02/Group 22.png") no-repeat center/cover fixed;
  background-position: center 10%;
  display: flex;
  align-items: center; }
  #Banner .inner {
    width: 1460px;
    margin: 0 auto; }
    #Banner .inner h3.subtitle {
      padding-top: 52px;
      color: #d70d25;
      margin-bottom: 14px; }
    #Banner .inner ul {
      display: flex;
      font: 54px/1 "genesys";
      color: #fff; }
      #Banner .inner ul li {
        margin-right: 2px; }
    #Banner .inner .titleBottom {
      margin-bottom: 14px; }
      #Banner .inner .titleBottom li:nth-of-type(6) {
        margin-right: 20px; }
    #Banner .inner p {
      color: #afafaf;
      margin-bottom: 36px;
      line-height: 1.6; }
    #Banner .inner > a {
      color: #fff;
      font: 22px/1 "icielgotham"; }

#slide {
  width: 100%;
  height: 1080px; }
  #slide .inner {
    width: 1460px;
    height: 1080px;
    padding-top: 100px;
    position: relative;
    margin: 0 auto; }
    #slide .inner .title {
      font: 72px/1 "genesys";
      text-align: center;
      color: #222;
      margin-bottom: 20px;
      display: flex;
      justify-content: center; }
      #slide .inner .title li:nth-of-type(7) {
        margin-right: 20px; }
      #slide .inner .title li:nth-of-type(1) {
        color: #d70d25; }
      #slide .inner .title li:nth-of-type(2) {
        color: #d70d25; }
      #slide .inner .title li:nth-of-type(3) {
        color: #d70d25; }
      #slide .inner .title li:nth-of-type(4) {
        color: #d70d25; }
      #slide .inner .title li:nth-of-type(5) {
        color: #d70d25; }
      #slide .inner .title li:nth-of-type(6) {
        color: #d70d25; }
      #slide .inner .title li:nth-of-type(7) {
        color: #d70d25; }
      #slide .inner .title li:nth-of-type(1) {
        transition-delay: 0.1s; }
      #slide .inner .title li:nth-of-type(2) {
        transition-delay: 0.2s; }
      #slide .inner .title li:nth-of-type(3) {
        transition-delay: 0.3s; }
      #slide .inner .title li:nth-of-type(4) {
        transition-delay: 0.4s; }
      #slide .inner .title li:nth-of-type(5) {
        transition-delay: 0.5s; }
      #slide .inner .title li:nth-of-type(6) {
        transition-delay: 0.6s; }
      #slide .inner .title li:nth-of-type(7) {
        transition-delay: 0.7s; }
      #slide .inner .title li:nth-of-type(8) {
        transition-delay: 0.8s; }
      #slide .inner .title li:nth-of-type(9) {
        transition-delay: 0.9s; }
      #slide .inner .title li:nth-of-type(10) {
        transition-delay: 1s; }
      #slide .inner .title li:nth-of-type(11) {
        transition-delay: 1.1s; }
      #slide .inner .title li:nth-of-type(12) {
        transition-delay: 1.2s; }
      #slide .inner .title li:nth-of-type(13) {
        transition-delay: 1.3s; }
      #slide .inner .title li:nth-of-type(14) {
        transition-delay: 1.4s; }
      #slide .inner .title li:nth-of-type(15) {
        transition-delay: 1.5s; }
      #slide .inner .title li:nth-of-type(16) {
        transition-delay: 1.6s; }
      #slide .inner .title li:nth-of-type(17) {
        transition-delay: 1.7s; }
    #slide .inner .subTitle {
      display: flex;
      justify-content: center;
      margin-bottom: 40px; }
      #slide .inner .subTitle li {
        color: #777; }
        #slide .inner .subTitle li:not(:last-child) {
          margin-right: 20px; }
    #slide .inner .slide_wrap {
      width: 1460px;
      height: 600px;
      margin: 0 auto;
      position: relative; }
      #slide .inner .slide_wrap > li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.5s, transform 0.5s;
        cursor: pointer;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); }
        #slide .inner .slide_wrap > li > svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 7rem;
          color: #fff;
          opacity: 0.5; }
        #slide .inner .slide_wrap > li > img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        #slide .inner .slide_wrap > li:nth-of-type(1) {
          width: 980px;
          transform: translateX(-20%) scale(0.4);
          opacity: 0;
          z-index: 1; }
        #slide .inner .slide_wrap > li:nth-of-type(2) {
          width: 980px;
          transform: translateX(20%) scale(0.7);
          opacity: 0; }
        #slide .inner .slide_wrap > li:nth-of-type(3) {
          width: 980px;
          height: 540px;
          transform: translateX(0) scale(1);
          opacity: 1;
          z-index: 3;
          position: relative; }
        #slide .inner .slide_wrap > li:nth-of-type(4) {
          width: 980px;
          left: auto;
          right: 0;
          transform: translateX(16%) scale(0.7);
          z-index: 2; }
          #slide .inner .slide_wrap > li:nth-of-type(4)::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2; }
        #slide .inner .slide_wrap > li:nth-of-type(5) {
          width: 980px;
          transform: translateX(-20%) scale(0.4);
          opacity: 0;
          z-index: 1; }
    #slide .inner .center {
      width: 500px;
      height: 360px;
      background: #fff;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
      position: absolute;
      left: 50%;
      bottom: 8%;
      z-index: 3;
      padding: 60px; }
      #slide .inner .center .article_btn {
        float: left;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: gray;
        transition: all 0.4s; }
        #slide .inner .center .article_btn:not(:last-child) {
          margin-right: 10px; }
        #slide .inner .center .article_btn.on {
          width: 40px;
          background: red;
          border-radius: 10px; }
      #slide .inner .center .article_wrap {
        width: 80%;
        position: absolute;
        left: 60px;
        top: 90px;
        transition: all 0.6s;
        opacity: 0; }
        #slide .inner .center .article_wrap.on {
          opacity: 1; }
        #slide .inner .center .article_wrap h1 {
          margin-bottom: 20px; }
        #slide .inner .center .article_wrap p {
          font: 16px/1.4 "arial";
          color: #767676; }
    #slide .inner .btn_wrap {
      display: flex;
      color: #444;
      position: absolute;
      right: 56%;
      bottom: 20%;
      font: 28px/1 "arial";
      user-select: none; }
      #slide .inner .btn_wrap div {
        transition: all 0.6s; }
        #slide .inner .btn_wrap div:hover {
          font-weight: bold; }
      #slide .inner .btn_wrap .prev {
        cursor: pointer;
        margin-right: 22px; }
      #slide .inner .btn_wrap > span {
        font-size: 32px/1;
        margin-right: 22px; }
      #slide .inner .btn_wrap .next {
        cursor: pointer; }

.view_title {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .view_title > li {
    font: 68px/1 "genesys";
    color: #222;
    transition: all 0.6s; }
    .view_title > li:nth-of-type(7) {
      margin-right: 20px; }
    .view_title > li:nth-of-type(1) {
      color: #d70d25; }
    .view_title > li:nth-of-type(2) {
      color: #d70d25; }
    .view_title > li:nth-of-type(3) {
      color: #d70d25; }
    .view_title > li:nth-of-type(4) {
      color: #d70d25; }
    .view_title > li:nth-of-type(5) {
      color: #d70d25; }
    .view_title > li:nth-of-type(6) {
      color: #d70d25; }
    .view_title > li:nth-of-type(7) {
      color: #d70d25; }

.subTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }
  .subTitle li {
    color: #777; }
    .subTitle li:not(:last-child) {
      margin-right: 20px; }

.wrap {
  width: 1460px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px; }
  .wrap .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .wrap .left > li {
      width: 340px;
      height: 340px; }
      .wrap .left > li > img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .wrap .right {
    display: flex; }
    .wrap .right li:nth-of-type(1) {
      width: 734px;
      height: 698px;
      margin-right: 20px; }
    .wrap .right li > img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.myScroll.on .inner .carImg {
  position: absolute;
  left: -30%;
  opacity: 1; }
.myScroll.on .inner .article_bg {
  width: 100%; }
.myScroll .inner {
  width: 100%;
  height: 800px;
  position: relative;
  padding-top: 180px;
  overflow: hidden; }
  .myScroll .inner .carImg {
    position: absolute;
    left: -50%;
    top: 52%;
    transform: translateY(-50%);
    transition: all 1.2s;
    z-index: 10;
    opacity: 0; }
  .myScroll .inner .text_box {
    width: 500px;
    margin-left: auto;
    position: absolute;
    right: 200px;
    top: 42%;
    transform: translateY(-50%);
    z-index: 2; }
    .myScroll .inner .text_box .title {
      display: flex;
      flex-wrap: wrap;
      font: 72px/1 "genesys"; }
    .myScroll .inner .text_box .titleTop {
      color: #d70d25; }
    .myScroll .inner .text_box .titleBottom {
      margin-bottom: 20px; }
    .myScroll .inner .text_box > p {
      font: 16px/1.5 "arial";
      color: #8d8d8d;
      margin-bottom: 20px; }
    .myScroll .inner .text_box .article_btn {
      width: 200px;
      height: 50px;
      background: transparent;
      border: 1px solid #d70d25;
      font: 18px/1 "airal";
      color: #d70d25;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
  .myScroll .inner .article_bg {
    width: 0%;
    height: 420px;
    position: absolute;
    right: 0;
    top: 42%;
    transform: translateY(-50%);
    background: #e1e1e1;
    transition: all 1.2s 0.2s;
    margin-bottom: 260px; }
  .myScroll .inner .linetext {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1.2s;
    font: 120px/1 "genesys";
    color: transparent;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #999;
    white-space: nowrap; }

#car_container.myScroll {
  width: 100%;
  padding: 300px 0;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden; }
  #car_container.myScroll.on .car_wrap {
    right: 12%; }
    #car_container.myScroll.on .car_wrap .left_tire {
      transform: rotate(0); }
    #car_container.myScroll.on .car_wrap .right_tire {
      transform: rotate(0); }
  #car_container.myScroll::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10; }
  #car_container.myScroll .title {
    width: 1460px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    z-index: 11;
    text-align: left; }
    #car_container.myScroll .title .titleTop,
    #car_container.myScroll .title .titleBottom {
      display: flex; }
    #car_container.myScroll .title .titleTop li {
      color: #d70d25; }
    #car_container.myScroll .title .titleBottom li:nth-of-type(5) {
      margin-right: 20px;
      margin-bottom: 20px; }
    #car_container.myScroll .title li {
      font: 68px/1 "genesys";
      color: #fff;
      transition: all 0.6s; }
      #car_container.myScroll .title li:nth-of-type(1) {
        transition-delay: 0.1s; }
      #car_container.myScroll .title li:nth-of-type(2) {
        transition-delay: 0.2s; }
      #car_container.myScroll .title li:nth-of-type(3) {
        transition-delay: 0.3s; }
      #car_container.myScroll .title li:nth-of-type(4) {
        transition-delay: 0.4s; }
      #car_container.myScroll .title li:nth-of-type(5) {
        transition-delay: 0.5s; }
      #car_container.myScroll .title li:nth-of-type(6) {
        transition-delay: 0.6s; }
      #car_container.myScroll .title li:nth-of-type(7) {
        transition-delay: 0.7s; }
      #car_container.myScroll .title li:nth-of-type(8) {
        transition-delay: 0.8s; }
      #car_container.myScroll .title li:nth-of-type(9) {
        transition-delay: 0.9s; }
      #car_container.myScroll .title li:nth-of-type(10) {
        transition-delay: 1s; }
      #car_container.myScroll .title li:nth-of-type(11) {
        transition-delay: 1.1s; }
      #car_container.myScroll .title li:nth-of-type(12) {
        transition-delay: 1.2s; }
      #car_container.myScroll .title li:nth-of-type(13) {
        transition-delay: 1.3s; }
      #car_container.myScroll .title li:nth-of-type(14) {
        transition-delay: 1.4s; }
      #car_container.myScroll .title li:nth-of-type(15) {
        transition-delay: 1.5s; }
      #car_container.myScroll .title li:nth-of-type(16) {
        transition-delay: 1.6s; }
      #car_container.myScroll .title li:nth-of-type(17) {
        transition-delay: 1.7s; }
  #car_container.myScroll p {
    font: 16px/1 "arial";
    color: #9f9f9f;
    margin-bottom: 40px; }
  #car_container.myScroll .btnWrap {
    display: flex; }
    #car_container.myScroll .btnWrap a {
      display: block;
      width: 200px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font: 16px/1 "arial";
      text-transform: uppercase;
      color: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
      #car_container.myScroll .btnWrap a:nth-of-type(1) {
        border-left: 2px solid red;
        background: transparent; }
      #car_container.myScroll .btnWrap a:nth-of-type(2) {
        border: 1px solid red; }
  #car_container.myScroll .car_wrap {
    width: 1344px;
    position: absolute;
    right: -70%;
    top: 42%;
    transform: translateY(-50%);
    transition: all 0.8s; }
    #car_container.myScroll .car_wrap > div {
      position: absolute;
      transition: all 0.8s; }
    #car_container.myScroll .car_wrap .car_body {
      left: 0;
      top: 0; }
    #car_container.myScroll .car_wrap .left_tire {
      left: 139px;
      top: 130px;
      transform: rotate(1440deg); }
    #car_container.myScroll .car_wrap .right_tire {
      right: 120px;
      top: 123px;
      transform: rotate(1440deg); }

.specification_wrap {
  width: 100%;
  padding-top: 140px;
  overflow: hidden; }
  .specification_wrap .title {
    display: flex;
    font: 72px/1 "genesys";
    text-align: center;
    justify-content: center;
    margin-bottom: 14px; }
    .specification_wrap .title > li:nth-of-type(7) {
      margin-right: 20px; }
    .specification_wrap .title > li:nth-of-type(1) {
      color: #d70d25; }
    .specification_wrap .title > li:nth-of-type(2) {
      color: #d70d25; }
    .specification_wrap .title > li:nth-of-type(3) {
      color: #d70d25; }
    .specification_wrap .title > li:nth-of-type(4) {
      color: #d70d25; }
    .specification_wrap .title > li:nth-of-type(5) {
      color: #d70d25; }
    .specification_wrap .title > li:nth-of-type(6) {
      color: #d70d25; }
    .specification_wrap .title > li:nth-of-type(7) {
      color: #d70d25; }
    .specification_wrap .title > li:nth-of-type(1) {
      transition-delay: 0.1s; }
    .specification_wrap .title > li:nth-of-type(2) {
      transition-delay: 0.2s; }
    .specification_wrap .title > li:nth-of-type(3) {
      transition-delay: 0.3s; }
    .specification_wrap .title > li:nth-of-type(4) {
      transition-delay: 0.4s; }
    .specification_wrap .title > li:nth-of-type(5) {
      transition-delay: 0.5s; }
    .specification_wrap .title > li:nth-of-type(6) {
      transition-delay: 0.6s; }
    .specification_wrap .title > li:nth-of-type(7) {
      transition-delay: 0.7s; }
    .specification_wrap .title > li:nth-of-type(8) {
      transition-delay: 0.8s; }
    .specification_wrap .title > li:nth-of-type(9) {
      transition-delay: 0.9s; }
    .specification_wrap .title > li:nth-of-type(10) {
      transition-delay: 1s; }
    .specification_wrap .title > li:nth-of-type(11) {
      transition-delay: 1.1s; }
    .specification_wrap .title > li:nth-of-type(12) {
      transition-delay: 1.2s; }
    .specification_wrap .title > li:nth-of-type(13) {
      transition-delay: 1.3s; }
    .specification_wrap .title > li:nth-of-type(14) {
      transition-delay: 1.4s; }
    .specification_wrap .title > li:nth-of-type(15) {
      transition-delay: 1.5s; }
    .specification_wrap .title > li:nth-of-type(16) {
      transition-delay: 1.6s; }
    .specification_wrap .title > li:nth-of-type(17) {
      transition-delay: 1.7s; }
    .specification_wrap .title > li:nth-of-type(18) {
      transition-delay: 1.8s; }
    .specification_wrap .title > li:nth-of-type(19) {
      transition-delay: 1.9s; }
    .specification_wrap .title > li:nth-of-type(20) {
      transition-delay: 2s; }
  .specification_wrap .subTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 80px; }
    .specification_wrap .subTitle li {
      color: #777;
      text-transform: uppercase; }
      .specification_wrap .subTitle li:not(:last-child) {
        margin-right: 20px; }
  .specification_wrap .carBack {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    transition: all 1.2s 0.2s;
    transform: scale(2) translateY(50%) rotate(4deg);
    opacity: 0; }
  .specification_wrap .iconList {
    width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px; }
    .specification_wrap .iconList ul {
      width: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .specification_wrap .iconList ul li {
        text-align: center; }
        .specification_wrap .iconList ul li > img {
          margin-bottom: 20px; }

.myScroll.on .carBack {
  transform: scale(1) translateY(0) rotate(0);
  opacity: 1; }

.scroll_navi {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  z-index: 3;
  width: 50px;
  height: 150px;
  border: 2px solid red;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  border-radius: 4px; }
  .scroll_navi.on {
    box-shadow: 0 0 20px red; }
  .scroll_navi::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -10px;
    display: block;
    width: 20px;
    height: 10px;
    margin-left: -10px;
    border-radius: 2px;
    background: red; }
  .scroll_navi li {
    width: 100%;
    height: 10px;
    border-radius: 1px;
    background: rgba(120, 120, 120, 0.488);
    cursor: pointer;
    transition: 0.5s; }
    .scroll_navi li.on {
      background: #d70d25;
      border: #fff; }

.Community > .inner .inputBox {
  width: 100%;
  border: 1px solid #bbb;
  padding: 50px;
  margin-bottom: 50px; }
  .Community > .inner .inputBox input[type='text'],
  .Community > .inner .inputBox textarea {
    width: 50%;
    padding: 8px 10px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    resize: none; }
  .Community > .inner .inputBox .btnSet button {
    width: 150px;
    height: 30px;
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    cursor: pointer;
    margin-right: 20px; }
.Community > .inner .showBox {
  width: 100%;
  border: 1px solid #bbb;
  padding: 50px; }
  .Community > .inner .showBox article {
    background: #fff;
    padding: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center; }
    .Community > .inner .showBox article .editTxt {
      width: 60%; }
      .Community > .inner .showBox article .editTxt input[type='text'],
      .Community > .inner .showBox article .editTxt textarea {
        width: 100%;
        padding: 8px 10px;
        border: 1px solid lightblue;
        margin-bottom: 20px;
        background: #eaf9f9;
        resize: none; }
    .Community > .inner .showBox article .btnSet {
      display: flex;
      align-items: center; }
      .Community > .inner .showBox article .btnSet button {
        background: transparent;
        margin: 10px;
        cursor: pointer;
        border: none; }
        .Community > .inner .showBox article .btnSet button:nth-of-type(1) {
          color: orange; }
        .Community > .inner .showBox article .btnSet button:nth-of-type(2) {
          color: orangered; }

@media screen and (max-width: 1179px) {
  .Community > .inner .inputBox input[type='text'],
  .Community > .inner .inputBox textarea {
    width: 100%; }
  .Community > .inner .inputBox .btnSet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .Community > .inner .inputBox .btnSet button {
      width: 47%;
      margin-right: 0px; }
  .Community > .inner .showBox article .editTxt,
  .Community > .inner .showBox article .txt {
    width: 100%; }
  .Community > .inner .showBox article .btnSet {
    margin-top: 20px; }
    .Community > .inner .showBox article .btnSet button {
      margin-left: 0px; } }
.Department > .inner::after {
  content: '';
  display: block;
  clear: both; }
.Department > .inner article {
  width: 33.333%;
  float: left;
  padding: 10px;
  margin-bottom: 50px; }
  .Department > .inner article .inner {
    width: 100%; }
    .Department > .inner article .inner .pic {
      width: 100%;
      height: 300px;
      background: #111;
      margin-bottom: 20px;
      filter: saturate(0.2);
      transition: 0.5s; }
      .Department > .inner article .inner .pic:hover {
        filter: saturate(1.1); }
      .Department > .inner article .inner .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

@media screen and (max-width: 1179px) {
  .Department > .inner article {
    width: 50%;
    margin-bottom: 40px; }
    .Department > .inner article .inner .pic {
      height: 260px; } }
@media screen and (max-width: 539px) {
  .Department > .inner article {
    width: 100%;
    margin-bottom: 30px; }
    .Department > .inner article .inner .pic {
      height: 200px; } }
.Gallery .loading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0; }
.Gallery .controls {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .Gallery .controls nav {
    padding: 10px;
    display: flex;
    gap: 20px; }
    .Gallery .controls nav button {
      border: none;
      width: 130px;
      height: 30px;
      background: #555;
      font: 12px/30px 'arial';
      color: #ddd;
      text-align: center;
      cursor: pointer;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
  .Gallery .controls .searchBox {
    padding-right: 15px; }
    .Gallery .controls .searchBox input {
      width: 200px;
      height: 26px;
      background: #fff;
      border: 1px solid #bbb;
      padding: 3px 8px; }
    .Gallery .controls .searchBox button {
      width: 80px;
      height: 26px;
      border: none;
      background: #555;
      font: 12px/26px 'arial';
      color: #fff;
      cursor: pointer;
      margin-left: 5px; }
.Gallery .frame {
  transform: translateY(200px);
  opacity: 0;
  transition: all 0.5s; }
  .Gallery .frame.on {
    transform: translateY(0px);
    opacity: 1; }
  .Gallery .frame::after {
    content: '';
    display: block;
    clear: both; }
  .Gallery .frame article {
    width: 25%;
    padding: 10px;
    float: left; }
    .Gallery .frame article .inner {
      width: 100%;
      padding: 10px;
      background: #fff;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03); }
      .Gallery .frame article .inner .pic {
        width: 100%;
        margin-bottom: 5px; }
        .Gallery .frame article .inner .pic img {
          width: 100%; }
      .Gallery .frame article .inner h2 {
        font: normal 14px/1.2 'arial';
        color: #777;
        margin-bottom: 30px; }
      .Gallery .frame article .inner .profile {
        display: flex;
        align-items: center; }
        .Gallery .frame article .inner .profile img {
          width: 40px;
          border-radius: 50%;
          margin-right: 10px; }
        .Gallery .frame article .inner .profile span {
          color: orange;
          cursor: pointer;
          transition: 0.5s;
          font-size: 20px;
          word-break: break-all; }
          .Gallery .frame article .inner .profile span:hover {
            color: aqua; }

@media screen and (max-width: 1179px) {
  section .frame article {
    width: 33.3333%; } }
@media screen and (max-width: 539px) {
  section .frame article {
    width: 100%; } }
.Location figure {
  background: lightblue; }
.Location #map {
  width: 100%;
  height: 500px;
  background: #000; }
.Location .btnSet {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin-top: 50px; }
  .Location .btnSet button {
    cursor: pointer;
    height: 30px;
    border: 1px solid #888;
    padding: 5px 20px; }
  .Location .btnSet ul {
    display: flex; }
    .Location .btnSet ul li {
      border: 1px solid #888;
      height: 30px;
      padding: 0px 20px;
      line-height: 30px;
      font-size: 12px;
      cursor: pointer;
      margin-left: 10px;
      transition: 0.5s; }
      .Location .btnSet ul li.on {
        background: #333;
        border: 1px solid #333;
        color: #fff; }

.Member figure {
  background: lightgreen; }
.Member > .inner table {
  width: 100%;
  border: none;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333; }
  .Member > .inner table th {
    width: 20%;
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 15px 30px;
    text-align: left; }
    .Member > .inner table th:last-child {
      text-align: center; }
    .Member > .inner table th input[type='reset'],
    .Member > .inner table th input[type='submit'] {
      border: 1px solid #aaa;
      width: 150px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0px 10px;
      cursor: pointer; }
  .Member > .inner table td {
    border: none;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    padding: 15px 30px; }
    .Member > .inner table td input[type='text'],
    .Member > .inner table td input[type='password'],
    .Member > .inner table td select,
    .Member > .inner table td textarea {
      width: 40%;
      border: 1px solid #aaa;
      padding: 6px 10px;
      resize: none; }
    .Member > .inner table td label {
      margin-right: 6px; }
    .Member > .inner table td input[type='radio'],
    .Member > .inner table td input[type='checkbox'] {
      margin-right: 20px; }
    .Member > .inner table td .err {
      font: 12px/1 'arial';
      color: hotpink;
      margin-left: 10px; }

@media screen and (max-width: 1179px) {
  .Member > .inner table td input[type='text'],
  .Member > .inner table td input[type='password'],
  .Member > .inner table td select,
  .Member > .inner table td textarea {
    width: 80%; }
  .Member > .inner table td .err {
    display: block;
    margin-top: 10px; } }
@media screen and (max-width: 539px) {
  .Member > .inner table th {
    display: none;
    padding: 15px 0px; }
    .Member > .inner table th:last-child {
      display: block;
      width: 100%; }
    .Member > .inner table th input[type='reset'],
    .Member > .inner table th input[type='submit'] {
      width: 48%;
      margin: 0px; }
  .Member > .inner table td {
    border-left: none;
    padding: 15px 0px; }
    .Member > .inner table td input[type='text'],
    .Member > .inner table td input[type='password'],
    .Member > .inner table td select,
    .Member > .inner table td textarea {
      width: 100%; } }
.Youtube article {
  border-top: 1px solid #aaa;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .Youtube article h3 {
    width: 44%;
    font-weight: bold;
    font-size: 22px;
    font-family: 'work sans';
    color: #777; }
  .Youtube article .txt {
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; }
    .Youtube article .txt p {
      font: 14px/1.2 'arial';
      color: #999;
      filter: saturate(0); }
    .Youtube article .txt span {
      font: 12px/1 'arial';
      color: orange; }
  .Youtube article .pic {
    width: 40%;
    height: 200px;
    background: #000;
    filter: saturate(0);
    transition: 0.5s; }
    .Youtube article .pic img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .Youtube article .pic:hover {
      filter: saturate(1.2); }

@media screen and (max-width: 1179px) {
  .Youtube article h3 {
    width: 48%; }
  .Youtube article .txt {
    width: 50%; }
  .Youtube article .pic {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px; } }
@media screen and (max-width: 539px) {
  .Youtube article h3 {
    width: 100%;
    margin-bottom: 20px; }
  .Youtube article .txt {
    width: 100%; }
  .Youtube article .pic {
    height: 120px;
    margin-bottom: 0px; } }

/*# sourceMappingURL=style.css.map */
